#order-details-area{
    padding: 70px 0;
    background-color: #f5f5f5;
}
.order-details-heading h2{
    font-size: 32px !important;
    font-weight: 700 !important;
    text-align: center;
    margin-bottom: 70px;
}
.order-details{
    padding: 20px;
    border: 1px solid #000;
}