#user-info-area{
    padding: 70px 0;
}
.user-page-heading h2{
    font-size: 32px !important;
    font-weight: 700 !important;
    text-align: center;
    margin-bottom: 70px;
}
#user-info-area button {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    background-color: #2b6777;
    padding: 10px 20px;
    border-color: transparent;
}