#login-area{
    padding: 50px 0;
}
#login-area button {
    font-family: "Roboto Slab", serif;
    font-weight: 500;
    background-color: #2b6777;
    padding: 10px 20px;
    border-color: transparent;
}